@mixin float_dark {
  #float-container {
    label {
      color: $alt-fg-color-dark;
      background-color: $alt-bg-color-dark;
    }
    #toc-toggle {
      &:checked + label > i {
        color: $alt-bg-color-dark;
      }
    }
  }
}

body.colorscheme-dark {
  @include float_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include float_dark();
  }
}
