@mixin toc_dark {
  #toc {
    ul {
      li {
        & > a {
          color: $secondary-fg-color-dark;
        }
        a:hover,
        &.active > a {
          color: $fg-color-dark;
        }
        &.active > a::before {
          background-color: $fg-color-dark;
        }
      }
    }
  }
  @media (max-width: 1023px) {
    #toc-container {
      background-color: $alt-bg-color-dark;
    }
  }
}
body.colorscheme-dark {
  @include toc_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include toc_dark();
  }
}
