$fg-color: #212121 !default;
$link-color: #1565c0 !default;
$fg-color-dark: #dadada !default;
$link-color-dark: #42a5f5 !default;

.navigation .navigation-title {
  text-transform: none;
}

.footer {
  .social {
    text-align: center;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;

      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    ul {
      list-style: none;
      margin: 3rem 0 1rem 0;
      padding: 0;
      cursor: pointer;

      li {
        display: inline-block;
        position: relative;

        a {
          color: $fg-color;
          text-transform: uppercase;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.6rem;

          &:hover,
          &:focus {
            color: $link-color;
          }

          @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
@mixin content_dark {
  .footer {
    .social {
      ul {
        li {
          a {
            color: $fg-color-dark;

            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}

.post-content {
  font-size: 1em;
  font-weight: 300;
  line-height: 2;

  @media only screen and (max-width: 768px) {
    font-size: 1.1em;
    line-height: 2;
  }
}
.container {
  max-width: 70rem;
}

//toc
#toc-container {
  position: absolute;
  bottom: 0;
  left: calc(50% + 650px / 2);
  width: calc(50% - 650px / 2);
  height: 100%;

  display: none;

  @media (min-width: 1024px) {
    display: block;
  }

  &.posts {
    top: 19rem;
  }

  &.library {
    top: 34rem;
  }

  &.default {
    top: 17rem;
  }
}
#toc {
  position: sticky;
  top: 3rem;

  width: 100%;

  font-size: var(--font-size-xs);

  @media (min-width: 1280px) {
    font-size: var(--font-size-sm);
  }

  @media (min-width: 1536px) {
    font-size: var(--font-size-base);
  }
}
